<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, our objective is to give a brief introduction regarding various Data Science tools/technologies being utilised for providing detailed insights aimed at issue-resolving

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. C++
5. SQL
6. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Plotly
6. Keras

|Data Science Tools |
|--------------------|
|Jupyter Notebook |
|Rstudio |
|Hadoop |
|Spark |

### Below are a few examples of evaluating arithmetic expressions in Python:-

In [1]:
(3*4)+5

17

Below we convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

**Objectives:**

+ Popular Data Science Languagues List
+ Popular Data Science Libraries List
+ Popular Data Science Tools List
+ Airthmetic solving

## Author
Zain Makhdum